# Dépendances
node_modules/
venv/
.venv/
env/
__pycache__/
*.pyc

# Fichiers de build
build/
dist/
*.o
*.exe
*.class

# Environnement / secrets
.env
.env.local
*.log

# Fichiers OS
.DS_Store
Thumbs.db

# Éditeurs / IDE
.vscode/
.idea/
*.swp

# LaTeX auxiliaires
*.aux
*.log
*.toc
*.snm
*.nav
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.vrb